<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postify</title>
    <style>
        a{
            text-decoration: none;
            font-size: medium;
        }
        a:hover{
            color:#bab4ff
        }
        body{
        background-color: #c7c5db89;
        text-align: center;
        }
        
        h1{
        text-align: center;
        font-family: cursive;
        }
        p{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .caption{
            font-style: italic;
        }
    </style>
</head>
<body>
    <div>
        <img src="<%= imagePath %>" alt="Navigation Image">
    </div>
    <h1>Welcome to Postify</h1>
    <div class="section">
        <% for (let post of posts) { %>
            <p class="user">Username: @<%= post.username %></p>
            <img src=<%= post.imageUrl %> alt="Post Image" style="width: 200px; height: 200px;">
            <p class="caption">Caption: <%= post.caption %></p><br/>
            <a href="http://localhost:3000/posts/<%=post.id%>">See in detail  </a>
            <a href="http://localhost:3000/posts/new">  Create new</a><br/>
            <a href="http://localhost:3000/posts/<%=post.id%>/edit">Edit</a><br/><br/><br/>
            <hr/> <!-- Optional: Add a horizontal line between posts -->
        <% } %>
    </div>


</body>
</html>
