<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatify</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h1>Welcome to Chatify!</h1>
    <form method="get" action="/chats/new">
        <button>New Chat</button>
    </form>
    <div class="outer">
        <% for(chat of chats){%>
            <div class="chat">
                <p class="from">From: <%=chat.from%></p>
                <div class="msg">
                    <p>Message: <%=chat.msg%></p>
                    <form method="get" action="/chats/<%=chat._id%>/edit">
                        <button>Edit</button>
                    </form>
                    <form method="post" action="/chats/<%=chat._id%>?_method=DELETE">
                        <button>Delete</button>
                    </form>
                    <form method="get" action="/chats/<%=chat._id%>">
                        <button>Show</button>
                    </form>
                </div>
                <p class="to">Received By: <%=chat.to%></p>
                <hr/>
                <p>Time:<%=chat.created_at.toString().split(" ")[4]%></p><br/>
                <p>Date:<%=chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p><br/>
            </div>
            <br/>
            <br/>
        <%}%>
    </div>
    
</body>
</html>